---
const year = new Date().getFullYear();
---

<p class="pb-20 md:pb-10 px-4 text-center text-sm sm:text-md text-secondary/80">
  📅 {year} - Crafted with passion and precision by{" "}
  <a
    href="https://github.com/Pakvothe/"
    target="_blank"
    rel="noreferrer"
    class="font-semibold hover:transition-all hover:text-accent hover:underline"
  >
    Franco Ortiz
  </a>{" "}
  ✨
</p>
